.contenedor_principal{
    width: device-width;
    height: 100vh;
    position: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline-style: none;
    border-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  h1{
    color: white;
  }